<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Anket</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>
    <center>
        <div class="container">
            <form action="/" method="post">
                <h3 class="header">Yeni anket oluştur</h3>
                <p>Soru</p>
                <input class="question" type="text" name="question" placeholder="Soru gir" required />

                <p>Cevaplar</p>
                <input class="answer" type="text" name="answers" placeholder="Cevap gir" required />
                <input class="answer" type="text" name="answers" placeholder="Cevap gir" required />

                <div id="newAnswers"></div>
                <div class="insert-answer-button" onclick="insertNewAnswer()">+</div>

                <button class="create-button">Oluştur</button>
            </form>

        </div>

    </center>
</body>

<script>
    function insertNewAnswer() {
        var newInput = document.createElement("input")
        newInput.setAttribute("class", "answer")
        newInput.setAttribute("type", "text")
        newInput.setAttribute("name", "answers")
        newInput.setAttribute("placeholder", "Cevap gir")
        newInput.setAttribute("required", "true")
        document.getElementById("newAnswers").appendChild(newInput)
    }
</script>
</html>